@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model Proyecto

<div class="container-fluid">
    <div class="row flex-nowrap">
        <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-dark">
            <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white" style="height: 90vh;">
                <a href="/" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">
                    <span class="fs-5 d-none d-sm-inline">Menu</span>
                </a>
                <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
                    <li class="nav-item">
                        <a href="#" class="nav-link align-middle px-0">
                            <i class="fs-4 bi-house"></i> <span class="ms-1 d-none d-sm-inline">Inicio</span>
                        </a>
                    </li>
                    @if (ViewBag.sesion == "1")
                    {
                        <li>
                            <a href="#submenu1" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
                                <i class="fs-4 bi-collection-fill"></i> <span class="ms-1 d-none d-sm-inline">Mantenimiento</span>
                            </a>
                            <ul class="collapse show nav flex-column ms-1" id="submenu1" data-bs-parent="#menu">
                                <li class="w-100">
                                    <a asp-action="Usuarios" asp-controller="Home" method="POST" class="nav-link px-0"> <span class="d-none d-sm-inline">Usuarios</span> </a>
                                </li>
                                <li>
                                    <a asp-action="Clientes" asp-controller="Home" method="POST" class="nav-link px-0"> <span class="d-none d-sm-inline">Clientes</span> </a>
                                </li>
                                <li>
                                    <a asp-action="Estado" asp-controller="Home" method="POST" class="nav-link px-0"> <span class="d-none d-sm-inline">Estados</span></a>
                                </li>
                                <li>
                                    <a class="nav-link px-0" asp-area="" asp-controller="Home" asp-action="DetEstado" method="POST"> <span class="d-none d-sm-inline">Detalle Estado</span></a>
                                </li>
                                <li>
                                    <a asp-action="Recurso" asp-controller="Home" method="POST" class="nav-link px-0"> <span class="d-none d-sm-inline">Recursos</span></a>
                                </li>
                                <li>
                                    <a asp-action="CategoriaIssue" asp-controller="Home" method="POST" class="nav-link px-0"> <span class="d-none d-sm-inline">Categorias de problemas</span></a>
                                </li>
                                <li>
                                    <a asp-action="Rolhora" asp-controller="Home" method="POST" class="nav-link px-0"> <span class="d-none d-sm-inline">Roles de proyectos</span></a>
                                </li>
                                <li>
                                    <a asp-action="PreguntaSeguridad" asp-controller="Home" method="POST" class="nav-link px-0"> <span class="d-none d-sm-inline">Preguntas de seguridad</span></a>
                                </li>
                            </ul>
                        </li>

                    }
                    
                    <li>
                        <a class="nav-link px-0 align-middle" asp-area="" asp-controller="Home" asp-action="Cronograma" method="POST">
                            <i class="fs-4 bi-calendar-week-fill"></i> <span class="ms-1 d-none d-sm-inline">Cronograma</span>
                        </a>
                    </li>
                    <li>
                        <a class="nav-link px-0 align-middle" asp-area="" asp-controller="Home" asp-action="Proyectos" method="POST">
                            <i class="fs-4 bi-folder-fill"></i> <span class="ms-1 d-none d-sm-inline">Proyectos</span>
                        </a>
                    </li>
                    <li>
                        <a asp-action="Reuniones" asp-controller="Home" method="POST" class="nav-link px-0 align-middle">
                            <i class="fs-4 bi-camera-video-fill "></i> <span class="ms-1 d-none d-sm-inline">Reuniones</span>
                        </a>
                    </li>
                </ul>

                <div class="dropdown pb-4">
                    <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                        <img src="https://github.com/mdo.png" alt="hugenerd" width="30" height="30" class="rounded-circle">
                        <span class="d-none d-sm-inline mx-1">loser</span>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser1">
                        <li><a class="dropdown-item" href="#">New project...</a></li>
                        <li><a class="dropdown-item" href="#">Settings</a></li>
                        <li><a class="dropdown-item" href="#">Profile</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="#">Sign out</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col py-3">
            <form asp-action="Index" asp-controller="Home" method="POST">
                <button type="submit" class="btn btn-dark float-end">Cerrar sesion</button>
            </form>
            @if (ViewBag.sesion == "1")
            {
                <center><h1>Bienvenido Administrador</h1></center>

            }
            else
            {
                <center><h1>Bienvenido Project manager</h1></center>
            }
            <h3>Estado general de Proyectos</h3>
            
            <div class="container">
                <div class="row mt-2">

                    <div class="col-sm-6">

                        <div class="card bg-dark">
                            <div class="card-header">Ventas últimos 5 días </div>
                            <div class="card-body">
                                <canvas id="chartVentas"></canvas>
                            </div>
                        </div>

                    </div>

                    <div class="col-sm-6">

                        <div class="card bg-dark">
                            <div class="card-header">Productos más vendidos </div>
                            <div class="card-body">
                                <canvas id="chartProductos" style="max-height:250px"></canvas>
                            </div>
                        </div>

                    </div>

                </div>
            </div>


        </div>
    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            Grafico();
            resumenPryTerPro();
        });
        function Grafico() {
            fetch("/Home/resumenHorasPry")
                .then((response) => {
                    return response.ok ? response.json() : Promise.reject(response);
                })
                .then((dataJson) => {
                    const labels = dataJson.map((item) => { return item.nombrePry })
                    const values = dataJson.map((item) => { return item.horasTotalesreal })
                    const data = {
                        labels: labels,
                        datasets: [{
                            label: 'horas trabajadas',
                            data: values,
                            backgroundColor: [
                                'rgb(54, 162, 235)',
                                'rgba(255, 99, 132, 0.2)',
                                'rgba(255, 159, 64, 0.2)',
                                'rgba(255, 205, 86, 0.2)',
                                'rgba(75, 192, 192, 0.2)',
                                'rgba(54, 162, 235, 0.2)',
                                'rgba(153, 102, 255, 0.2)',
                                'rgba(201, 203, 207, 0.2)'
                            ],
                            borderWidth: 5
                        }]
                    };
                    const config = {
                        type: 'bar',
                        data: data,
                        options: {
                            indexAxis: 'y',
                            scales: {
                                y: {
                                    beginAtZero: true
                                }
                            },
                            plugins: {
                                legend: {
                                    display: true,
                                    position: 'top',
                                }
                            },
                            barPercentage: 0.5 // Ajustar el ancho de las barras (50% del ancho por defecto)
                        },
                    };
                    const canvasBarras = document.getElementById("chartVentas");
                    const graficoBarras = new Chart(canvasBarras, config)
                }).catch((error) => {
                    console.log("error")
                })

        }
        function resumenPryTerPro() {
            fetch("/Home/resumenPryTerPro")
                .then((response) => {
                    return response.ok ? response.json() : Promise.reject(response);
                })
                .then((dataJson) => {
                    const labels = ["En progreso", "Terminados"];
                    const values = [dataJson.proyectosEstado3, dataJson.proyectosEstado4];
                    const data = {
                        labels: labels,
                        datasets: [{
                            label: 'Cantidad',
                            data: values,
                            backgroundColor: [
                                'rgb(255, 99, 132)',
                                'rgb(54, 162, 235)'
                            ],
                            hoverOffset: 4
                        }]
                    };

                    const config = {
                        type: 'doughnut',
                        data: data,
                    };
                    const canvasDona = document.getElementById("chartProductos");
                    const graficoDona = new Chart(canvasDona, config);
                }).catch((error) => {
                    console.log(error);
                });
        }



    </script>
    
}