@model Reunione
<div class="container-fluid">
    <div class="row flex-nowrap">
        <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-dark">
            <div class="d-flex flex-column align-items-center align-items-sm-start px-5 pty-3 text-white" style="height: 84.5vh;">
                <div class="py-5">
                    <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
                        <li class="nav-item">
                            <a asp-action="Menu" asp-controller="Home" method="POST" class="nav-link align-middle px-0">
                                <i class="fs-4 bi-house"></i> <span class="ms-1 d-none d-sm-inline">Inicio</span>
                            </a>
                        </li>
                        @if (ViewBag.sesion == "1")
                        {
                            <li>
                                <a href="#submenu1" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
                                    <i class="fs-4 bi-collection-fill"></i> <span class="ms-1 d-none d-sm-inline">Mantenimiento</span>
                                </a>
                                <ul class="collapse show nav flex-column ms-1" id="submenu1" data-bs-parent="#menu">
                                    <li class="w-100">
                                        <a asp-action="Usuarios" asp-controller="Home" method="POST" class="nav-link px-0"> <span class="d-none d-sm-inline">Usuarios</span> </a>
                                    </li>
                                    <li>
                                        <a asp-action="Clientes" asp-controller="Home" method="POST" class="nav-link px-0"> <span class="d-none d-sm-inline">Clientes</span> </a>
                                    </li>
                                    <li>
                                        <a asp-action="Estado" asp-controller="Home" method="POST" class="nav-link px-0"> <span class="d-none d-sm-inline">Estados</span></a>
                                    </li>
                                    <li>
                                        <a class="nav-link px-0" asp-area="" asp-controller="Home" asp-action="DetEstado" method="POST"> <span class="d-none d-sm-inline">Detalle Estado</span></a>
                                    </li>
                                    <li>
                                        <a asp-action="Recurso" asp-controller="Home" method="POST" class="nav-link px-0"> <span class="d-none d-sm-inline">Recursos</span></a>
                                    </li>
                                    <li>
                                        <a asp-action="CategoriaIssue" asp-controller="Home" method="POST" class="nav-link px-0"> <span class="d-none d-sm-inline">Categorias de problemas</span></a>
                                    </li>
                                    <li>
                                        <a asp-action="Rolhora" asp-controller="Home" method="POST" class="nav-link px-0"> <span class="d-none d-sm-inline">Roles de proyectos</span></a>
                                    </li>
                                    <li>
                                        <a asp-action="PreguntaSeguridad" asp-controller="Home" method="POST" class="nav-link px-0"> <span class="d-none d-sm-inline">Preguntas de seguridad</span></a>
                                    </li>
                                </ul>
                            </li>

                        }

                        <li>
                            <a class="nav-link px-0 align-middle" asp-area="" asp-controller="Home" asp-action="Cronograma" method="POST">
                                <i class="fs-4 bi-calendar-week-fill"></i> <span class="ms-1 d-none d-sm-inline">Cronograma</span>
                            </a>
                        </li>
                        <li>
                            <a class="nav-link px-0 align-middle" asp-area="" asp-controller="Home" asp-action="Proyectos" method="POST">
                                <i class="fs-4 bi-folder-fill"></i> <span class="ms-1 d-none d-sm-inline">Proyectos</span>
                            </a>
                        </li>
                        <li>
                            <a asp-action="Reuniones" asp-controller="Home" method="POST" class="nav-link px-0 align-middle">
                                <i class="fs-4 bi-camera-video-fill "></i> <span class="ms-1 d-none d-sm-inline">Reuniones</span>
                            </a>
                        </li>
                    </ul>
                </div>
                <form asp-action="Index" asp-controller="Home" method="POST">
                    <button type="submit" class="btn btn-dark btn-lg float-end border-2 border-primary">Cerrar sesion</button>
                </form>

            </div>
        </div>
        <div class="col py-3" style="padding-right: 30px">

                <h3>Mantenimiento Reuniones</h3>
                <hr>

                <button type="button" id="newReu" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#reunionModal">
                    Nuevo Reunión
                </button>

                <hr />
                <br />
            <input id="IdUsu" value="@ViewBag.idusu" type="hidden" class="form-control" />
            <input id="IdTipo" value="@ViewBag.sesion" type="hidden" class="form-control" />
            <div class="container">
                <div class="row">
                    <div class="col-6">
                        <label for="message-text" class="col-form-label">Filtra por proyecto</label>
                        <select class="form-select text-primary" id="proyectosFiltro"></select>
                        <a href="javascript:cargarReunionesBusca()" class="btn btn-primary">Enviar</a>
                    </div>
                </div>
                <br />
                <br />
            </div>
            <div id="contenido">
            </div>
                <!-- Modal -->
                <div class="modal fade" id="reunionModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">

                            <div class="modal-header">
                                <h5 class="modal-title text-dark" id="exampleModalLabel">Registro de reuniones </h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body text-dark">

                                <form id="Form1">
                                    <label for="message-text" class="col-form-label">T. Reunión: *</label>
                                    <input id="IdReunion" name="IdReunion" asp-for="IdReunion" type="hidden" class="form-control" />
                                    <input id="TituloReu" name="TituloReu" asp-for="TituloReu" class="form-control  text-primary" placeholder="Ejm. Helpdesk" />

                                    <label for="message-text" class="col-form-label">Puntos a tratar: *</label>
                                    <input id="PuntosTratar" name="PuntosTratar" asp-for="PuntosTratar" class="form-control text-primary" placeholder="Ejm. Requerimientos" />

                                    <label for="message-text" class="col-form-label">Des. Puntos *</label>
                                    <input id="DesarrolloPunto" name="DesarrolloPunto" asp-for="DesarrolloPunto" class="form-control text-primary" placeholder="Ejm. Requerimientos" />

                                    <label for="message-text" class="col-form-label">Asistentes *</label>
                                    <input id="Asistentes" name="Asistentes" asp-for="Asistentes" class="form-control text-primary" placeholder="Ejm. Requerimientos" />

                                    <label for="message-text" class="col-form-label">T. Reunión horas *</label>
                                    <input id="TiempoReu" name="TiempoReu" asp-for="TiempoReu" class="form-control text-primary" placeholder="Ejm. Requerimientos" />
                                  
                                    <label for="message-text" class="col-form-label">Seleccione Proyecto*</label>
                                    <div>
                                        <select class="form-select text-primary" id="proyectos" asp-for="FkProyecto">
                                        </select>

                                    </div>


                                </form>

                            </div>
                            <div class="modal-footer">
                                <button type="button" id="btnCerrar" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                                <button type="button" id="btnGuardar" class="btn btn-primary">Guardar</button>
                            </div>

                        </div>
                    </div>
                </div>


        </div>
    </div>
</div>
@section Scripts{
    <script>

        function cargarTabla() {
            var idUsu = document.getElementById("IdUsu").value;
            var idTipo = document.getElementById("IdTipo").value;
            var idPry = document.getElementById("proyectosFiltro").value;
            var dataUsu = {
                id_usu: idUsu
            };

            if(idTipo == "1"){
                $.ajax({
                    url: '/Home/mostrarReuniones',
                    type: 'post',
                    dataType: 'json',
                    cache: false
                }).done(function (resp) {
                    // console.log(resp);
                    var div = $("#contenido");
                    var tabla = "<table class='table table-bordered table-vcenter js-dataTable-full text-white'><thead><tr><th>Id </th><th>T. Reunión</th><th>P. a tratar</th><th>Des. de puntos</th><th>Asistente</th><th>T. Horas</th><th>Nom. Proyecto</th><th class='text-center' style='width: 15%;'>Acciones</th></tr></thead><tbody>";
                    $.each(resp, function (index, reu) {
                        tabla += "<tr>";
                        tabla += "<td>" + reu.idReunion + "</td>";
                        tabla += "<td>" + reu.tituloReu + "</td>";
                        tabla += "<td>" + reu.puntosTratar + "</td>";
                        tabla += "<td>" + reu.desarrolloPunto + "</td>";
                        tabla += "<td>" + reu.asistentes + "</td>";
                        tabla += "<td>" + reu.tiempoReu + "</td>";
                        tabla += "<td>" + reu.fkProyecto + "</td>";
                        tabla += "<td><a class='btn btn-primary' href=\"javascript:editarReu('" + reu.idReunion + "')\">Editar</a><a class='btn btn-danger' href=\"javascript:elimiarReu('" + reu.idReunion + "')\">Eliminar</a></td>";
                        tabla += "</tr>";
                    });
                    tabla += "</tbody></table>";
                    div.empty();
                    div.append(tabla);
                }).fail();
            }else{

                $.ajax({
                    url: '/Home/mostrarReunionesPM',
                    type: 'post',
                    dataType: 'json',
                    data: dataUsu,
                    cache: false
                }).done(function (resp) {
                    // console.log(resp);
                    var div = $("#contenido");
                    var tabla = "<table class='table table-bordered table-vcenter js-dataTable-full text-white'><thead><tr><th>Id </th><th>T. Reunión</th><th>P. a tratar</th><th>Des. de puntos</th><th>Asistente</th><th>T. Horas</th><th>Nom. Proyecto</th><th class='text-center' style='width: 15%;'>Acciones</th></tr></thead><tbody>";
                    $.each(resp, function (index, reu) {
                        tabla += "<tr>";
                        tabla += "<td>" + reu.idReunion + "</td>";
                        tabla += "<td>" + reu.tituloReu + "</td>";
                        tabla += "<td>" + reu.puntosTratar + "</td>";
                        tabla += "<td>" + reu.desarrolloPunto + "</td>";
                        tabla += "<td>" + reu.asistentes + "</td>";
                        tabla += "<td>" + reu.tiempoReu + "</td>";
                        tabla += "<td>" + reu.fkProyecto + "</td>";
                        tabla += "<td><a class='btn btn-primary' href=\"javascript:editarReu('" + reu.idReunion + "')\">Editar</a><a class='btn btn-danger' href=\"javascript:elimiarReu('" + reu.idReunion + "')\">Eliminar</a></td>";
                        tabla += "</tr>";
                    });
                    tabla += "</tbody></table>";
                    div.empty();
                    div.append(tabla);
                }).fail();
            }
            

        }

        function cargarReunionesBusca() {
            var idUsu = document.getElementById("IdUsu").value;
            var idTipo = document.getElementById("IdTipo").value;
            var idPry = document.getElementById("proyectosFiltro").value;
            var dataPry = {
                pry: idPry
            };
            var dataBusca = {
                id_usu: idUsu,
                idPry: idPry
            };

            if(idPry == 0){
                cargarTabla();
            }else{
                if (idTipo == "1") {
                    $.ajax({
                        url: '/Home/mostrarReunionesBusca',//falta crear
                        type: 'post',
                        dataType: 'json',
                        data: dataPry,
                        cache: false
                    }).done(function (resp) {
                        // console.log(resp);
                        var div = $("#contenido");
                        var tabla = "<table class='table table-bordered table-vcenter js-dataTable-full text-white'><thead><tr><th>Id </th><th>T. Reunión</th><th>P. a tratar</th><th>Des. de puntos</th><th>Asistente</th><th>T. Horas</th><th>Nom. Proyecto</th><th class='text-center' style='width: 15%;'>Acciones</th></tr></thead><tbody>";
                        $.each(resp, function (index, reu) {
                            tabla += "<tr>";
                            tabla += "<td>" + reu.idReunion + "</td>";
                            tabla += "<td>" + reu.tituloReu + "</td>";
                            tabla += "<td>" + reu.puntosTratar + "</td>";
                            tabla += "<td>" + reu.desarrolloPunto + "</td>";
                            tabla += "<td>" + reu.asistentes + "</td>";
                            tabla += "<td>" + reu.tiempoReu + "</td>";
                            tabla += "<td>" + reu.fkProyecto + "</td>";
                            tabla += "<td><a class='btn btn-primary' href=\"javascript:editarReu('" + reu.idReunion + "')\">Editar</a><a class='btn btn-danger' href=\"javascript:elimiarReu('" + reu.idReunion + "')\">Eliminar</a></td>";
                            tabla += "</tr>";
                        });
                        tabla += "</tbody></table>";
                        div.empty();
                        div.append(tabla);
                    }).fail();
                } else {

                    $.ajax({
                        url: '/Home/mostrarReunionesPMBusca',//falta crear
                        type: 'post',
                        dataType: 'json',
                        data: dataBusca,
                        cache: false
                    }).done(function (resp) {
                        // console.log(resp);
                        var div = $("#contenido");
                        var tabla = "<table class='table table-bordered table-vcenter js-dataTable-full text-white'><thead><tr><th>Id </th><th>T. Reunión</th><th>P. a tratar</th><th>Des. de puntos</th><th>Asistente</th><th>T. Horas</th><th>Nom. Proyecto</th><th class='text-center' style='width: 15%;'>Acciones</th></tr></thead><tbody>";
                        $.each(resp, function (index, reu) {
                            tabla += "<tr>";
                            tabla += "<td>" + reu.idReunion + "</td>";
                            tabla += "<td>" + reu.tituloReu + "</td>";
                            tabla += "<td>" + reu.puntosTratar + "</td>";
                            tabla += "<td>" + reu.desarrolloPunto + "</td>";
                            tabla += "<td>" + reu.asistentes + "</td>";
                            tabla += "<td>" + reu.tiempoReu + "</td>";
                            tabla += "<td>" + reu.fkProyecto + "</td>";
                            tabla += "<td><a class='btn btn-primary' href=\"javascript:editarReu('" + reu.idReunion + "')\">Editar</a><a class='btn btn-danger' href=\"javascript:elimiarReu('" + reu.idReunion + "')\">Eliminar</a></td>";
                            tabla += "</tr>";
                        });
                        tabla += "</tbody></table>";
                        div.empty();
                        div.append(tabla);
                    }).fail();
                }
            }


        }

        function editarReu(idReunion) {
            $.ajax({
                url: '/Home/EditarReuniones',
                type: 'post',
                dataType: 'json',

                data: { id: idReunion },
                success: function (data) {
                    
                    $('#IdReunion').val(data.idReunion);
                    $('#TituloReu').val(data.tituloReu);
                    $('#PuntosTratar').val(data.puntosTratar);
                    $('#DesarrolloPunto').val(data.desarrolloPunto);
                    $('#Asistentes').val(data.asistentes);
                    $('#TiempoReu').val(data.tiempoReu);
                    $('#proyectos').val(data.fkProyecto);

                    $('#reunionModal').modal('show');
                },
                error: function (error) {
                    console.log(error);
                }
            });
        }

        function elimiarReu(idReunion) {
            swal({
                title: "Estas seguro?",
                text: "Una vez eliminado se pierde definitivamente....",
                icon: "warning",
                buttons: true,
                dangerMode: true,
            })
                .then((willDelete) => {
                    if (willDelete) {
                        $.ajax({
                            url: '@Url.Action("EliminarReuniones", "Home")',
                            type: 'post',
                            dataType: 'json',
                            cache: false,
                            data: { id: idReunion }
                        }).done(function (resp) {
                            if (resp) {
                                swal("Eliminado!")
                                cargarTabla();

                                $("#btnCerrar").click();
                            } else {
                                swal("Problemas al eliminar!")
                            }
                        }).fail();

                    } else {
                        swal("El registro no se elimino!");
                    }
                });
        }

        function cargarProyectoFiltro() {
            var idUsu = document.getElementById("IdUsu").value;
            var idTipo = document.getElementById("IdTipo").value;
            
            var dataUsu = {
                id: idUsu
            };
            if(idTipo == "1"){
                $.ajax({
                    url: '/Home/listaProyectos',
                    type: 'post',
                    dataType: 'json',
                    cache: false
                }).done(function (resp) {
                    //console.log(resp);
                    var div = $("#proyectosFiltro");
                    var select = " <option value='0' selected>Todos</option>";
                    $.each(resp, function (index, x) {
                        select += "<option value=" + x.idProyecto + ">" + x.nombrePry + "</option>";
                    });
                    div.empty();
                    div.append(select);
                }).fail();
            }else{
                $.ajax({
                    url: '/Home/listaProyectosUsu',
                    type: 'post',
                    dataType: 'json',
                    data: dataUsu,
                    cache: false
                }).done(function (resp) {
                    //console.log(resp);
                    var div = $("#proyectosFiltro");
                    var select = " <option value='0' selected>Todos</option>";
                    $.each(resp, function (index, x) {
                        select += "<option value=" + x.idProyecto + ">" + x.nombrePry + "</option>";
                    });
                    div.empty();
                    div.append(select);
                }).fail();
            }
            
            

        }
        function cargarProyecto() {
            $.ajax({
                url: '/Home/listaProyectos',
                type: 'post',
                dataType: 'json',
                cache: false
            }).done(function (resp) {
                //console.log(resp);
                var div = $("#proyectos");
                var select = " <option selected>Seleccione</option>";
                $.each(resp, function (index, x) {
                    select += "<option value=" + x.idProyecto + ">" + x.nombrePry + "</option>";
                });
                div.empty();
                div.append(select);
            }).fail();



        }

        function limpiarModal() {
            $('#IdReunion').val("");
            $('#TituloReu').val("");
            $('#PuntosTratar').val("");
            $('#DesarrolloPunto').val("");
            $('#Asistentes').val("");
            $('#TiempoReu').val("");
            //$('#FkProyecto').val('Seleccione');

            // Ocultar el modal
            $('#reunionModal').modal('hide');
        }

        $(document).ready(function () {
            cargarProyecto();
            cargarProyectoFiltro();
            //jquery
            cargarTabla();
            $('#btnCerrar').on('click', function () {
                limpiarModal();
            });
            $('#newReu').on('click', function () {
                limpiarModal();
                cargarProyecto();
            });
            //programamos los botones
            $("#btnGuardar").click(function () {
                if ($("#TituloReu").val() != "" &&
                    $("#PuntosTratar").val() != "" &&
                    $("#DesarrolloPunto").val() != "" &&
                    $("#Asistentes").val() != "" &&
                    $("#TiempoReu").val() != "") {
                    //procedemos
                    var formulario = $("#Form1").serialize();

                    $.ajax({
                        url: '@Url.Action("guardarReuniones","Home")',
                        type: 'post',
                        cache: false,
                        dataType: 'json',
                        data: formulario
                    }).done(function (resp) {
                        if (resp) {
                            swal("Guardado con éxito");
                            cargarTabla();
                            limpiarModal();
                            $("#btnCerrar").click();
                        } else {
                            swal("Error al guardar");
                        }
                    }).fail(function () {
                        swal("Error al guardar");
                    });
                } else {
                    swal("Todos los campos son requeridos");
                }
            });
        });
    </script>
}






